@font-face {
  font-family: 'reneco';
  src:  url('fonts/reneco.eot?3q8xwz');
  src:  url('fonts/reneco.eot?3q8xwz#iefix') format('embedded-opentype'),
    url('fonts/reneco.woff2?3q8xwz') format('woff2'),
    url('fonts/reneco.ttf?3q8xwz') format('truetype'),
    url('fonts/reneco.woff?3q8xwz') format('woff'),
    url('fonts/reneco.svg?3q8xwz#reneco') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.reneco {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reneco' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reneco-help:before {
  content: "\ea0c";
}
.reneco-planches-pictos_attribution-2:before {
  content: "\ea0d";
}
.reneco-onglet:before {
  content: "\ea0a";
}
.reneco-affichage_horizontal:before {
  content: "\ea04";
}
.reneco-affichage_horizontal-empty:before {
  content: "\ea05";
}
.reneco-affichage_T:before {
  content: "\ea06";
}
.reneco-affichage_T-empty:before {
  content: "\ea07";
}
.reneco-affichage_vertical:before {
  content: "\ea08";
}
.reneco-affichage_vertical-empty:before {
  content: "\ea09";
}
.reneco-logout:before {
  content: "\e9ff";
}
.reneco-error:before {
  content: "\e9f8";
}
.reneco-home:before {
  content: "\e9f9";
}
.reneco-attribution:before {
  content: "\e9fa";
}
.reneco-female-list:before {
  content: "\e9fb";
}
.reneco-male-list:before {
  content: "\e9fc";
}
.reneco-sperm-mixes:before {
  content: "\e9fd";
}
.reneco-update-planification:before {
  content: "\e9fe";
}
.reneco-appli-repro:before {
  content: "\e9f1";
}
.reneco-tuile:before {
  content: "\e9f1";
}
.reneco-logo:before {
  content: "\e9e8";
}
.reneco-sperm-collection:before {
  content: "\e9e9";
}
.reneco-coloration .path1:before {
  content: "\e9ea";
  color: rgb(0, 0, 0);
}
.reneco-coloration .path2:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.reneco-coloration .path3:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.reneco-conservation:before {
  content: "\e9ed";
}
.reneco-sperm-bank-management:before {
  content: "\e9ee";
}
.reneco-data-entry:before {
  content: "\e9ef";
}
.reneco-management:before {
  content: "\e9f0";
}
.reneco-ECORELEVE_1:before {
  content: "\e9d5";
}
.reneco-ECORELEVE_2:before {
  content: "\e9d6";
}
.reneco-ECORELEVE_3:before {
  content: "\e9d7";
}
.reneco-ECORELEVE_4:before {
  content: "\e9d8";
}
.reneco-ECORELEVE_5:before {
  content: "\e9d9";
}
.reneco-ECORELEVE_BACKSPACE:before {
  content: "\e9da";
}
.reneco-ECORELEVE_DELETE:before {
  content: "\e9db";
}
.reneco-ECORELEVE_DOWN:before {
  content: "\e9dc";
}
.reneco-ECORELEVE_END:before {
  content: "\e9dd";
}
.reneco-ECORELEVE_ENTER:before {
  content: "\e9de";
}
.reneco-ECORELEVE_ESCAPE:before {
  content: "\e9df";
}
.reneco-ECORELEVE_HOME:before {
  content: "\e9e0";
}
.reneco-ECORELEVE_INSERT:before {
  content: "\e9e1";
}
.reneco-ECORELEVE_LESS:before {
  content: "\e9e2";
}
.reneco-ECORELEVE_PAGEDOWN:before {
  content: "\e9e3";
}
.reneco-ECORELEVE_PAGEUP:before {
  content: "\e9e4";
}
.reneco-ECORELEVE_PLUS:before {
  content: "\e9e5";
}
.reneco-ECORELEVE_TAB:before {
  content: "\e9e6";
}
.reneco-ECORELEVE_UP:before {
  content: "\e9e7";
}
.reneco-ECORELEVE_edit-station:before {
  content: "\e9d4";
}
.reneco-ECORELEVE_space:before {
  content: "\e9cf";
}
.reneco-ECORELEVE_right:before {
  content: "\e9d0";
}
.reneco-ECORELEVE_left:before {
  content: "\e9d1";
}
.reneco-ECORELEVE_pen:before {
  content: "\e9ce";
}
.reneco-ECORELEVE-location-by-location:before {
  content: "\e9cc";
}
.reneco-ECORELEVE-shortcuts:before {
  content: "\e9cd";
}
.reneco-ECORELEVE-add-protocol:before {
  content: "\e9ba";
}
.reneco-ECORELEVE-delete-station:before {
  content: "\e9bb";
}
.reneco-ECORELEVE-tag:before {
  content: "\e9bc";
}
.reneco-ECOL-main_insects:before {
  content: "\e9cb";
}
.reneco-ECOL-main_herbarium:before {
  content: "\e9ca";
}
.reneco-ECOL-main_birds:before {
  content: "\e9c7";
}
.reneco-ECOL-main_organs:before {
  content: "\e9c6";
}
.reneco-ECOL-mounted_insect-2:before {
  content: "\e9c9";
}
.reneco-ECOL-mounted_insect:before {
  content: "\e9c5";
}
.reneco-ECOL-herbarium:before {
  content: "\e9c4";
}
.reneco-ECOL-fta:before {
  content: "\e9c3";
}
.reneco-ECOL-swab:before {
  content: "\e9c0";
}
.reneco-ECOL-gynandromorph:before {
  content: "\e9bf";
}
.reneco-ECOL-hermaphrodite:before {
  content: "\e9c2";
}
.reneco-ECOL-slide:before {
  content: "\e9c1";
}
.reneco-ECOL_pot:before {
  content: "\e9be";
}
.reneco-ECOL-organs:before {
  content: "\e9bd";
}
.reneco-POS-voliere .path1:before {
  content: "\e961";
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path4:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path5:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path6:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path7:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.reneco-POS-voliere .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path12:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path13:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path14:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path15:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path16:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path17:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path18:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path19:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path20:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path21:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path22:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path23:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path24:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path25:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path26:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path27:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path28:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path29:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path30:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path31:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path32:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path33:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path34:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path35:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path36:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path37:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path38:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path39:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path40:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path41:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path42:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path43:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path44:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path45:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path46:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path47:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path48:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path49:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path50:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path51:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path52:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path53:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path54:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path55:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path56:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path57:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path58:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path59:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path60:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path61:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path62:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path63:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path64:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path65:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path66:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path67:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path68:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path69:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path70:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path71:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-voliere .path72:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-POS-rangee:before {
  content: "\e973";
}
.reneco-POS-couvoir:before {
  content: "\e974";
}
.reneco-POS-cage:before {
  content: "\e975";
}
.reneco-POS-autre:before {
  content: "\e928";
}
.reneco-POS-batiment:before {
  content: "\e929";
}
.reneco-POS-batterie:before {
  content: "\e92a";
}
.reneco-POS-bloc:before {
  content: "\e93c";
}
.reneco-POS-boite:before {
  content: "\e93d";
}
.reneco-POS-categorie:before {
  content: "\e93e";
}
.reneco-POS-chambre:before {
  content: "\e93f";
}
.reneco-POS-eclosoir:before {
  content: "\e940";
}
.reneco-POS-elevage:before {
  content: "\e960";
}
.reneco-POSemplacement:before {
  content: "\e942";
}
.reneco-POS-incubateur:before {
  content: "\e943";
}
.reneco-POS-incubateur-eclosoir:before {
  content: "\e944";
}
.reneco-POS-ligne:before {
  content: "\e945";
}
.reneco-POS-localisation-conceptuelle:before {
  content: "\e946";
}
.reneco-POS-machine-stockage:before {
  content: "\e947";
}
.reneco-POS-pays:before {
  content: "\e948";
}
.reneco-POS-pesonne:before {
  content: "\e951";
}
.reneco-POS-piece:before {
  content: "\e952";
}
.reneco-POS-plateau:before {
  content: "\e953";
}
.reneco-POS-secteur:before {
  content: "\e954";
}
.reneco-POS-site:before {
  content: "\e955";
}
.reneco-POS-_cage-t:before {
  content: "\e950";
}
.reneco-POS-t02Cage:before {
  content: "\e956";
}
.reneco-POS-t03Cage:before {
  content: "\e957";
}
.reneco-POS-t09Cage:before {
  content: "\e962";
}
.reneco-POS-t10Cage:before {
  content: "\e963";
}
.reneco-POS-t16Cage:before {
  content: "\e964";
}
.reneco-POS-t18Cage:before {
  content: "\e965";
}
.reneco-POS-t20Cage:before {
  content: "\e966";
}
.reneco-POS-t24Cage:before {
  content: "\e967";
}
.reneco-POS-_cage-t28:before {
  content: "\e972";
}
.reneco-POS-t30Cage:before {
  content: "\e968";
}
.reneco-POS-t52Cage:before {
  content: "\e969";
}
.reneco-POS-t54Cage:before {
  content: "\e970";
}
.reneco-POS-t56Cage:before {
  content: "\e971";
}
.reneco-POS-table:before {
  content: "\e958";
}
.reneco-POS-tunnel:before {
  content: "\e959";
}
.reneco-POS-zone:before {
  content: "\e95a";
}
.reneco-POS-zonegeographique:before {
  content: "\e95b";
}
.reneco-POS-zoo-public:before {
  content: "\e95c";
}
.reneco-instances .path1:before {
  content: "\ea10";
  color: rgb(0, 0, 0);
}
.reneco-instances .path2:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-instances .path3:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.reneco-instances .path4:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.reneco-all_sites:before {
  content: "\ea14";
}
.reneco-QRTAG-logo:before {
  content: "\ea0f";
}
.reneco-TRACK-HNV:before {
  content: "\ea0e";
}
.reneco-data-centralisation-historic:before {
  content: "\ea0b";
}
.reneco-logo-ns:before {
  content: "\ea03";
}
.reneco-console-admin_icon:before {
  content: "\ea00";
}
.reneco-console-admin_tuile:before {
  content: "\ea01";
}
.reneco-none:before {
  content: "\ea02";
}
.reneco-checkbox-empty:before {
  content: "\e9f6";
}
.reneco-checkbox-full:before {
  content: "\e9f7";
}
.reneco-data-centralisation:before {
  content: "\e9f2";
}
.reneco-tuile1:before {
  content: "\e9f2";
}
.reneco-reneco-apps1:before {
  content: "\e9f3";
}
.reneco-tuile2:before {
  content: "\e9f3";
}
.reneco-reneco-data-centralisation:before {
  content: "\e9f4";
}
.reneco-reneco-apps:before {
  content: "\e9f5";
}
.reneco-TRACK-on_site:before {
  content: "\e9d3";
}
.reneco-TRACK-data_transfer:before {
  content: "\e9d2";
}
.reneco-cible:before {
  content: "\e9c8";
}
.reneco-TRACK-external_destination:before {
  content: "\e9b7";
}
.reneco-TRACK-incorrect_data:before {
  content: "\e9b8";
}
.reneco-TRACK-not_incubable:before {
  content: "\e9b9";
}
.reneco-checkbox-false .path1:before {
  content: "\e91b";
  color: rgb(233, 233, 233);
}
.reneco-checkbox-false .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.reneco-checkbox-null .path1:before {
  content: "\e94b";
  color: rgb(233, 233, 233);
}
.reneco-checkbox-null .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.reneco-checkbox-null .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.reneco-checkbox-true .path1:before {
  content: "\e94e";
  color: rgb(233, 233, 233);
}
.reneco-checkbox-true .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.reneco-checkbox-true .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(53, 166, 98);
}
.reneco-TRACK-relaese:before {
  content: "\e949";
}
.reneco-chevron_left:before {
  content: "\e668";
  color: #000;
}
.reneco-chevron_right:before {
  content: "\e66f";
  color: #000;
}
.reneco-chevron_top:before {
  content: "\e672";
  color: #000;
}
.reneco-chevron_bottom:before {
  content: "\e682";
  color: #000;
}
.reneco-leftarrow:before {
  content: "\e65b";
}
.reneco-rightarrow:before {
  content: "\e65c";
}
.reneco-add:before {
  content: "\e65d";
}
.reneco-checked:before {
  content: "\e62a";
}
.reneco-close:before {
  content: "\e65e";
}
.reneco-syncing:before {
  content: "\e65a";
}
.reneco-search2:before {
  content: "\e65f";
}
.reneco-edit:before {
  content: "\e669";
}
.reneco-back:before {
  content: "\e69e";
}
.reneco-share:before {
  content: "\e91f";
}
.reneco-inter_app_link:before {
  content: "\e91a";
}
.reneco-rewind:before {
  content: "\e664";
}
.reneco-back2:before {
  content: "\e916";
}
.reneco-pause:before {
  content: "\e92b";
}
.reneco-play:before {
  content: "\e665";
}
.reneco-forward:before {
  content: "\e666";
}
.reneco-menu:before {
  content: "\e674";
}
.reneco-list:before {
  content: "\e932";
}
.reneco-trash:before {
  content: "\e681";
}
.reneco-protocol:before {
  content: "\e602";
}
.reneco-drag2:before {
  content: "\e603";
}
.reneco-drag_thin:before {
  content: "\e62b";
}
.reneco-fit:before {
  content: "\e67d";
}
.reneco-write:before {
  content: "\e64b";
}
.reneco-print:before {
  content: "\e924";
}
.reneco-calendar:before {
  content: "\e67a";
}
.reneco-pin2:before {
  content: "\e66c";
}
.reneco-connect:before {
  content: "\e915";
}
.reneco-search:before {
  content: "\e61e";
}
.reneco-pin:before {
  content: "\e663";
}
.reneco-support:before {
  content: "\e912";
}
.reneco-info:before {
  content: "\e69d";
}
.reneco-text_filter:before {
  content: "\e91c";
}
.reneco-settings:before {
  content: "\e657";
}
.reneco-tools:before {
  content: "\e90f";
}
.reneco-time:before {
  content: "\e655";
}
.reneco-timeblack:before {
  content: "\e662";
}
.reneco-timewhite:before {
  content: "\e661";
}
.reneco-users:before {
  content: "\e652";
}
.reneco-user:before {
  content: "\e651";
}
.reneco-site2:before {
  content: "\e918";
}
.reneco-site:before {
  content: "\e698";
}
.reneco-file:before {
  content: "\e62c";
}
.reneco-file_2:before {
  content: "\e675";
}
.reneco-file_doc:before {
  content: "\e676";
}
.reneco-file_jpg:before {
  content: "\e6a9";
}
.reneco-file_pdf:before {
  content: "\e6aa";
}
.reneco-file_png:before {
  content: "\e6ab";
}
.reneco-file_xls:before {
  content: "\e6ac";
}
.reneco-folder:before {
  content: "\e62d";
}
.reneco-cloud:before {
  content: "\e62e";
}
.reneco-cloud2:before {
  content: "\e64c";
}
.reneco-drag:before {
  content: "\e679";
}
.reneco-graph:before {
  content: "\e673";
}
.reneco-observers:before {
  content: "\e69b";
}
.reneco-layers:before {
  content: "\e64d";
}
.reneco-group:before {
  content: "\e639";
}
.reneco-info2:before {
  content: "\e920";
}
.reneco-textbubble:before {
  content: "\e6a8";
}
.reneco-comment:before {
  content: "\e699";
}
.reneco-favorite:before {
  content: "\e660";
}
.reneco-observation:before {
  content: "\e677";
}
.reneco-hidden:before {
  content: "\e644";
}
.reneco-radio_off:before {
  content: "\e642";
}
.reneco-radio_on:before {
  content: "\e641";
}
.reneco-checkbox_off:before {
  content: "\e640";
}
.reneco-validate:before {
  content: "\e659";
}
.reneco-checkbox_on:before {
  content: "\e63f";
}
.reneco-select:before {
  content: "\e654";
}
.reneco-locked:before {
  content: "\e911";
}
.reneco-unlocked:before {
  content: "\e910";
}
.reneco-import1:before {
  content: "\e658";
}
.reneco-duplicate:before {
  content: "\e604";
}
.reneco-tree_addchild:before {
  content: "\e64a";
}
.reneco-text:before {
  content: "\e63b";
}
.reneco-file2:before {
  content: "\e643";
}
.reneco-numeric:before {
  content: "\e63c";
}
.reneco-long_text:before {
  content: "\e63d";
}
.reneco-cursor:before {
  content: "\e63e";
}
.reneco-image_file:before {
  content: "\e913";
}
.reneco-map:before {
  content: "\e68c";
}
.reneco-mask:before {
  content: "\e645";
}
.reneco-tree_autocomplete:before {
  content: "\e646";
}
.reneco-tree:before {
  content: "\e647";
}
.reneco-autocomplete:before {
  content: "\e648";
}
.reneco-separator:before {
  content: "\e649";
}
.reneco-distance:before {
  content: "\e653";
}
.reneco-selectarea:before {
  content: "\e678";
}
.reneco-subform_grid:before {
  content: "\e927";
}
.reneco-decimal_input:before {
  content: "\e914";
}
.reneco-export:before {
  content: "\e633";
}
.reneco-export2:before {
  content: "\e686";
}
.reneco-import:before {
  content: "\e634";
}
.reneco-import2:before {
  content: "\e687";
}
.reneco-sensorimport:before {
  content: "\e636";
}
.reneco-importsensor2:before {
  content: "\e689";
}
.reneco-mydata:before {
  content: "\e635";
}
.reneco-mydata2:before {
  content: "\e688";
}
.reneco-exportsmall:before {
  content: "\e600";
}
.reneco-importsensor:before {
  content: "\e68a";
}
.reneco-exportsensor:before {
  content: "\e68b";
}
.reneco-validatebig:before {
  content: "\e69c";
}
.reneco-view:before {
  content: "\e601";
}
.reneco-rfid_format:before {
  content: "\e608";
}
.reneco-gsm_format:before {
  content: "\e609";
}
.reneco-gpx_format:before {
  content: "\e60a";
}
.reneco-pdf_format:before {
  content: "\e60b";
}
.reneco-csv_format:before {
  content: "\e60c";
}
.reneco-argos_format:before {
  content: "\e907";
}
.reneco-camera_format:before {
  content: "\e926";
}
.reneco-sheet2:before {
  content: "\e66b";
}
.reneco-sheet:before {
  content: "\e66a";
}
.reneco-report:before {
  content: "\e67c";
}
.reneco-entry:before {
  content: "\e631";
}
.reneco-entrykey:before {
  content: "\e632";
}
.reneco-bug_list:before {
  content: "\e683";
  color: #000;
}
.reneco-sample_list2:before {
  content: "\e685";
  color: #000;
}
.reneco-pendingsamples:before {
  content: "\e605";
}
.reneco-samples:before {
  content: "\e606";
}
.reneco-report_list:before {
  content: "\e91d";
}
.reneco-position_list:before {
  content: "\e91e";
}
.reneco-sites:before {
  content: "\e671";
}
.reneco-stations:before {
  content: "\e670";
}
.reneco-individuals:before {
  content: "\e630";
}
.reneco-sensors:before {
  content: "\e62f";
}
.reneco-id:before {
  content: "\e66e";
}
.reneco-satellite:before {
  content: "\e67b";
}
.reneco-rfid:before {
  content: "\e900";
}
.reneco-ECOL-emitters:before {
  content: "\e667";
}
.reneco-ECOL-sample:before {
  content: "\e63a";
}
.reneco-ECOL-individualsmall:before {
  content: "\e61f";
}
.reneco-ECOL-individual_group:before {
  content: "\e902";
  color: #1d1d1b;
}
.reneco-ECOL-ecouvillon:before {
  content: "\e69f";
  color: #000;
}
.reneco-ECOL-organe:before {
  content: "\e69a";
  color: #000;
}
.reneco-ECOL-bug:before {
  content: "\e684";
}
.reneco-ECO-argos:before {
  content: "\e901";
}
.reneco-story:before {
  content: "\e933";
}
.reneco-task:before {
  content: "\e934";
}
.reneco-level0:before {
  content: "\e935";
}
.reneco-level1:before {
  content: "\e936";
}
.reneco-level2:before {
  content: "\e937";
}
.reneco-level3:before {
  content: "\e938";
}
.reneco-level4:before {
  content: "\e939";
}
.reneco-level5:before {
  content: "\e93a";
}
.reneco-level6:before {
  content: "\e93b";
}
.reneco-THE-top_concept:before {
  content: "\e921";
}
.reneco-THE-middle_concept:before {
  content: "\e922";
}
.reneco-THE-bottom_concept:before {
  content: "\e923";
}
.reneco-TRACK-sexing:before {
  content: "\e60d";
}
.reneco-TRACK-male:before {
  content: "\e650";
}
.reneco-TRACK-female:before {
  content: "\e66d";
}
.reneco-TRACK-donated-sold:before {
  content: "\e60e";
}
.reneco-TRACK-ornamental:before {
  content: "\e610";
}
.reneco-TRACK-hunting:before {
  content: "\e611";
}
.reneco-TRACK-cynegetic:before {
  content: "\e612";
}
.reneco-TRACK-confiscated:before {
  content: "\e613";
}
.reneco-TRACK-centralised:before {
  content: "\e614";
}
.reneco-TRACK-escaped-lost-disappeared:before {
  content: "\e615";
}
.reneco-TRACK-released:before {
  content: "\e616";
}
.reneco-TRACK-to_release:before {
  content: "\e617";
}
.reneco-TRACK-excess:before {
  content: "\e618";
}
.reneco-TRACK-breeder:before {
  content: "\e619";
}
.reneco-TRACK-semi-natural-reproduction:before {
  content: "\e61a";
}
.reneco-TRACK-removed:before {
  content: "\e61b";
}
.reneco-TRACK-egg:before {
  content: "\e61c";
}
.reneco-TRACK-non-inseminated:before {
  content: "\e61d";
}
.reneco-TRACK-broken:before {
  content: "\e620";
}
.reneco-TRACK-clear_early:before {
  content: "\e621";
}
.reneco-TRACK-mid:before {
  content: "\e622";
}
.reneco-TRACK-late:before {
  content: "\e623";
}
.reneco-TRACK-adulte:before {
  content: "\e626";
}
.reneco-TRACK-dead:before {
  content: "\e624";
}
.reneco-TRACK-juvenile:before {
  content: "\e625";
}
.reneco-TRACK-cull:before {
  content: "\e917";
}
.reneco-TRACK-sentinelle:before {
  content: "\e908";
}
.reneco-TRACK-sentinelle2:before {
  content: "\e925";
}
.reneco-TRACK-not_sentinelle:before {
  content: "\e941";
}
.reneco-TRACK-retirement:before {
  content: "\e919";
}
.reneco-TRACK-exit-falco:before {
  content: "\e95d";
}
.reneco-TRACK-status-falco:before {
  content: "\e95e";
}
.reneco-TRACK-unknown:before {
  content: "\e629";
}
.reneco-bustard:before {
  content: "\e627";
}
.reneco-bird:before {
  content: "\e656";
}
.reneco-adult:before {
  content: "\e680";
}
.reneco-child:before {
  content: "\e67f";
}
.reneco-bird2:before {
  content: "\e67e";
}
.reneco-falcon:before {
  content: "\e628";
}
.reneco-vulture:before {
  content: "\e909";
}
.reneco-ganga:before {
  content: "\e90a";
}
.reneco-cormoran:before {
  content: "\e92c";
}
.reneco-crocodile:before {
  content: "\e92d";
}
.reneco-pelican:before {
  content: "\e92e";
}
.reneco-rat:before {
  content: "\e92f";
}
.reneco-snake:before {
  content: "\e930";
}
.reneco-tortoise:before {
  content: "\e931";
}
.reneco-ring:before {
  content: "\e64e";
}
.reneco-ECOL-marker:before {
  content: "\e64f";
}
.reneco-ECOL-change_position:before {
  content: "\e6a5";
  color: #000;
}
.reneco-ECOL-extraction:before {
  content: "\e6a4";
  color: #000;
}
.reneco-ECOL-send_identification:before {
  content: "\e6a6";
  color: #1d1d1b;
}
.reneco-ECOL-return_identification:before {
  content: "\e6a7";
  color: #000;
}
.reneco-ECOL-pot:before {
  content: "\e6a0";
  color: #000;
}
.reneco-ECOL-send_labo:before {
  content: "\e6a1";
  color: #000;
}
.reneco-ECOL-return_labo:before {
  content: "\e6a2";
  color: #000;
}
.reneco-ECOL-centrifuge:before {
  content: "\e6a3";
  color: #000;
}
.reneco-worldbig:before {
  content: "\e692";
}
.reneco-worldsmall:before {
  content: "\e693";
}
.reneco-ECO-ecollectionbig:before {
  content: "\e68d";
}
.reneco-ECOL-ecollectionsmall:before {
  content: "\e607";
}
.reneco-ECO-releve:before {
  content: "\e68e";
}
.reneco-ECO-ecorelevesmall:before {
  content: "\e694";
}
.reneco-TRACK-trackbird:before {
  content: "\e68f";
}
.reneco-TRACK-tracksmall:before {
  content: "\e695";
}
.reneco-security:before {
  content: "\e690";
}
.reneco-securitysmall:before {
  content: "\e697";
}
.reneco-THE-thesaurus:before {
  content: "\e691";
  color: #000;
}
.reneco-THE-thesaurussmall:before {
  content: "\e696";
  color: #000;
}
.reneco-POS-positions:before {
  content: "\e903";
  color: #000;
}
.reneco-POS-positionssmall:before {
  content: "\e904";
  color: #000;
}
.reneco-TAX-taxonomies:before {
  content: "\e905";
  color: #000;
}
.reneco-TAX-taxonomiessmall:before {
  content: "\e906";
  color: #1d1d1b;
}
.reneco-FOR-formbuilder:before {
  content: "\e637";
}
.reneco-FOR-formbuildersmall:before {
  content: "\e638";
}
.reneco-PTR:before {
  content: "\e90d";
}
.reneco-PTRsmall:before {
  content: "\e90e";
}
.reneco-postitprinter:before {
  content: "\e90b";
}
.reneco-postitprintersmall:before {
  content: "\e90c";
}
